/* 
    Document   : seguridad.css
    Created on : 07/11/2012, 05:10:48 PM
    Author     : manuel
    Description:
        Purpose of the stylesheet follows.
*/

#agregar{
    width: 100px;
    margin: 0 20px 0 20px;
}


