<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <table border="1" width="100%" cellspacing="1" cellpadding="1">
            <tbody>
                <tr>
                    <td width="30%" style="text-align: center;"> <img alt="" src="{{logoEmpresa}}"/></td>
                    <td style="text-align: center;" width="40%">
                        <h3><strong>INFORME EJECUTIVO DE INCIDENTE</strong></h3>
                    </td>
                    <td width="30%" style="text-align: center;">
                        <p>
                        Código:   FOR GC 06 <br>
                        Versión: 2 (23/07/2021) </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
    </body>
</html>