/web/bundles/
/app/cache/*
/app/logs/*
/*.txt
/web/public/uploads/
/web/public/reportesSupertel/
/nbproject/*
/app/config/parameters.yml
/app/config/config.yml
/app/config/security.yml
*~
*.txt
*.swp
*.log*
/procesos/*
src/telconet/tecnicoBundle/batch/reactivacionMasiva
src/telconet/financieroBundle/Resources/logs/
src/telconet/soporteBundle/Resources/views/Default/actaEntrega.html.twig
src/telconet/tecnicoBundle/Resources/views/Default/actaEntrega.html.twig
src/telconet/soporteBundle/Resources/views/Default/encuesta.html.twig
app/Resources/views/base.html.twig
.vscode/
.idea/