{% extends "::layout.html.twig" %}


{% block javascripts%}
    {{ parent() }}
    
<script>
    var url_eliminarIntervalos = "{{path('admiintervalo_deleteAjax') }}";
</script>

    <script type="text/javascript" src="{{ asset('./bundles/administracion/js/AdmiIntervalo/index.js') }}"></script>
{% endblock %}

{% block contenido_izq %}
<div id="titulo_content">
    <img src="{{ asset('public/images/'~ item.urlImagen | default('tools1.png') ~ '') }}" class="imagen-titulo-content">
	<h1>Listado de Intervalos</h1>
</div>
<div class="body_content k-content">
    <table width="100%" cellpadding="1" cellspacing='0'  border='0'>
        <tr>
            <td><div id='filtro'></div></td>
        </tr>	
        <tr>
            <td><div id="grid"></div></td>
        </tr>
    </table> 
</div>
{% endblock contenido_izq %}