<div class="container">
    <h5>Crear Motivo<i class="fa fa-info-circle"></i></h5>
    <div class="form-group">
    <h6>Descripcion Motivo:</h6>
        <div >            
            <input type="text" class="form-control input-sm" id="descripcionMotivoCrear" name="descripcionMotivoCrear">
        </div>
    </div>   
</div>