<div class="container">
    <h5>Editar Motivo<i class="fa fa-info-circle"></i></h5>
    <div class="form-group">
    <h6>Descripcion de Motivo:</h6>
        <div >
            <input type="hidden" class="form-control input-sm" id="idMotivoEditar" name="idMotivoEditar" value = {{id}} > 
            <input type="text" class="form-control input-sm" id="descripcionMotivoEditar" name="descripcionMotivoEditar" value = "{{nombreMotivo}}" >            
        </div>
    </div> 
</div>