<div class="container">
    <h5>Eliminar Motivo <i class="fa fa-info-circle"></i></h5>
    <div class="form-group">
    <h6>Se requiere confirmación para la eliminación de un motivo, si está seguro presione eliminar.</h6>
    <input type="hidden" class="form-control input-sm" id="idMotivoEditar" name="idMotivoEditar" value = {{id}} > 
    </div> 
   
</div>