{% extends "::layout.html.twig" %}

{% block contenido_izq %}
<div class="body_content k-content">
    {{mensaje}}
</div>
{% endblock contenido_izq %}

{% block contenido_der %}
{% endblock contenido_der %}
