<div class="container">
    <h5>Crear Plantilla <i class="fa fa-info-circle"></i></h5>
    <div class="form-group">
    <h6>Código de plantilla:</h6>
        <div >            
            <input type="text" class="form-control input-sm" id="codigoPlantillaCrear" name="codigoPlantillaCrear">
        </div>
    </div>
    <div class="form-group">
    <h6>Descripcion de plantilla:</h6>
        <div >            
        <textarea class="form-control rounded-0" id="descripcionTextAreaCrear" name="descripcionTextAreaCrear" rows="2"></textarea>
        </div>
    </div> 

    <h6>Plantila configurada:</h6>
    <div class="form-group">
    <textarea class="form-control rounded-0" id="plantillaTextAreaCrear" name="plantillaTextAreaCrear" rows="14"></textarea>
    </div>     
</div>