<div class="container">
    <h5>Descargar Plantilla <i class="fa fa-info-circle"></i></h5>
    <div class="form-group">
    <div >
            <input type="hidden" class="form-control input-sm" id="idPlantillaDescargar" name="idPlantillaDescargar" value = {{objPlantilla['objData'].id}} >
            <input type="hidden" class="form-control input-sm" id="codigoPlantillaDescargar" name="codigoPlantillaDescargar" value = {{objPlantilla['objData'].codigoPlantilla}} >            
            
        </div>
    </div> 
    <h6>Plantila configurada:</h6>
    <div class="form-group">
    <textarea class="form-control rounded-0" id="plantillaTextAreaDescargar" name="plantillaTextAreaDescargar" rows="7" disabled>{{objPlantilla['objData'].plantilla}}</textarea>
    </div> 
    <h6>Contrato Json:</h6>
    <div class="form-group">
    <textarea class="form-control rounded-0" id="contratoTextAreaDescargar" name="contratoTextAreaDescargar" rows="7" ></textarea>
    </div>     
</div>