
<div class="container">
    <h5>Detalle Plantilla <i class="fa fa-info-circle"></i></h5>
    <h6>Plantila configurada:</h6>
    <div class="form-group">
    <textarea class="form-control rounded-0" id="templateTextArea" name="templateTextArea" rows="14" disabled> {{objPlantilla['objData'].plantilla}}</textarea>
    </div>     
</div>




