<div class="container">
    <h5>Eliminar Plantilla <i class="fa fa-info-circle"></i></h5>
    <div class="form-group">
    <h6>Descripcion de eliminación:</h6>
        <div>
            <input type="hidden" class="form-control input-sm" id="codigoPlantillaEliminar" name="codigoPlantillaEliminar" value = {{objPlantilla['objData'].codigoPlantilla}}>            
            <textarea class="form-control rounded-0" id="descripcionTextAreaEliminar" name="descripcionTextAreaEliminar" rows="2" ></textarea>
        </div>
    </div> 
   
</div>