    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/></br>
	<div class="div_titulo_comercial">
     Cambio de documento
    </div></br>
	
	<p class="texto_manual">Para autorizar una solicitud de cambio de documento,
	seleccionamos el servicio e ingresamos una observación, y damos click en el icono <em>Aprobar</em>, 
	caso contrario <em>Recahzar</em>.</p></br>
		
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/aprobar_cambio.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/aprobar_cambio.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>