    <img src="{{asset('public/images/tools1.png')}}" height="35"/></br>
	<div class="div_titulo_comercial">
      Autorizar descuento>
    </div></br>
	
	<p class="texto_manual">Para ir a la opcion de autorizar descuento,
	damos click en el link 	<em>Autorización de descuento</em>,
	se mostrará la siguiente vista:</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/aprobar_contrato.jpg')}}"
	  data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/aprobar_contrato.jpg')}}"
	  height="150"/></a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>