
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/></br>
	<div class="div_titulo_comercial">
      A. de cancelación
    </div></br>
	
	<p class="texto_manual">Para autorizar una solicitud de cancelación,
	seleccionamos el cliente, y damos click en el icono <em>Anular</em></p></br>
		
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/aprobar_cancelacion.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/aprobar_cancelacion.jpg')}}"
	   height="150"/></a>
	   <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>