    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Reporte anticipos cruzado
    </div></br>
	
	<p class="texto_manual">Para realizar un reporte de anticipo cruzado,
	damos click en el link <em>Reporte anticipos cruzado</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/anticipo_cruzado.jpg')}}" 
      data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/anticipo_cruzado.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el mes de cruce y el año de cruce, y damos click
	en el botón <em>Generar</em>. Se nos descarga un archivo .xls, con la información
	de los anticipos cruzados en el mes y año señalado.</p></br>