<!------Imagen del icono procesos (modulo financiero)------------->
<!---------------------------------------------------------------->
</br><img src="{{asset('./bundles/ayuda/img/menu_procesos_financiero.jpg')}}" height="35" class="img-fx"/>  
<!---------------------------------------------------------------->
    <div class="div_titulo_financiero">
      Procesos
    </div></br> 
	
	<!-------------------Imagen de la sección procesos (módulo financiero)------------------->
	<!--------------------------------------------------------------------------------------->
    <div class="img_center">
       <a class="example-image-link" href="{{asset('./bundles/ayuda/img/financiero_procesos.jpg')}}"
	   data-lightbox="example-1">
        <img class="example-image" src="{{asset('./bundles/ayuda/img/financiero_procesos_thumb.jpg')}}"
		height="150" title="Para visualizar mejor la imagen, dar click"/></a>
    </div>
	
	<!-------------Menú de las acciones en la sección procesos (módulo financiero)------------>
	<!---------------------------------------------------------------------------------------->
    <div class="submenu_modulos">
      <ul>
         <li><a href="#" id="link_clientet">|Fact. mensual|</a></li>
         <li><a href="#" id="link_elementot">|Fct. mensuales aprobadas/rechazadas|</a></li>
         <li><a href="#" id="link_elementot">|Fact. proporcional|</a></li>
         <li><a href="#" id="link_elementot">|Fact. prop. aprobadas/rechazadas|</a></li>
         <li><a href="#" id="link_elementot">|Impresión mensual|</a></li>
         <li><a href="#" id="link_elementot">|Descargar archivo impresión|</a></li>
      </ul>
    </div>	
	<!------------------------------------------------------------------------------------------>