    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo"/>
	<div class="div_titulo_financiero">
      Estado de cuenta
    </div></br>
	
	<p class="texto_manual">Para visualizar el estado de cuenta de un cliente,
	damos click en el link <em>Estado de cuenta</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/estado_cuenta.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/estado_cuenta.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Si desea visualizar en un rango de fecha, seleccionar desde que
	fecha hasta que fecha.</p></br>