    	
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Reporte de cartera 
    </div></br>
	
	<p class="texto_manual">Para realizar un reporte de cartera,
	damos click en el link <em>Reporte de cartera</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/reporte_cartera.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/reporte_cartera.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el mes y el año , y damos click
	en el icono de descarga. Se nos descarga un archivo .xls, con el reporte
    de cartera, en el mes y año señalado.</p></br>