<!---Imagen del icono comisiones (modulo financiero)-------->
<!---------------------------------------------------------->
</br><img src="{{asset('./bundles/ayuda/img/menu_comisiones_financiero.jpg')}}" height="35" class="img-fx"/>  
<!---------------------------------------------------------->	
    <div class="div_titulo_financiero">
      Comisiones
    </div>    