    	
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Reporte cierre de caja
    </div></br>
	
	<p class="texto_manual">Para realizar un reporte de cierre de caja,
	damos click en el link <em>Reporte cierre de caja</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/reporte_cierre.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/reporte_cierre.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos la oficina y el día de cierre, puede ser
	un reporte detallado o resumido. Una vez seleccionado los campos, damos click en el 
	botón <em>Resumen/Detalle Pdf</em>, y se nos descarga un archivo con el reporte.</p></br>