    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Subir respuestas
    </div></br>
	
	<p class="texto_manual">Para subir la respuestas de débitos enviadas por el banco,
	damos click en el link <em>Subir respuestas</em>, se nos muestra la siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/subir_respuesta.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/subir_respuesta.jpg')}}"
	  height="150" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Seleccionamos el archivo correspondiente, y damos click en el 
	botón <em>Procesar</em></p></br>