    
	<img src="{{asset('public/images/tools1.png')}}" height="50" class="img_titulo">
	<div class="div_titulo_financiero">
      Estado de cuenta punto
    </div></br>
	
	<p class="texto_manual">Para visualizar el estado de cuenta del punto de un cliente,
	damos click en el link <em>Estado de cuenta por punto cliente</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/estado_cuenta_punto.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/estado_cuenta_punto.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
    </div></br>
	
	<p class="texto_manual">Si desea visualizar en un rango de fecha, seleccionar desde que
	fecha hasta que fecha. Aquí se encuentra una opcion para descargar el estado de 
	cuenta por punto, damos click en el icono <em>Exportar</em>, que se encuentra en 
	la parte derecha.</p></br>