
	<img src="{{asset('public/images/chart.png')}}" height="50" class="img_titulo"/>
	<div class="div_titulo_planificacion">
      Reporte Asignadas
    </div></br>
	
	<p class="texto_manual">Para realizar un reporte de tareas asignadas,
	damos click en el link <em>Reporte asignadas</em>, se nos muestra la 
	siguiente vista:</p></br>
	
	<div class="img_center">
     <a class="example-image-link" href="{{asset('./bundles/ayuda/img/reporte_planificadas.jpg')}}"
	 data-lightbox="example-1">
      <img class="example-image" src="{{asset('./bundles/ayuda/img/reporte_planificadas.jpg')}}"
	  height="120" title="Para visualizar mejor la imagen, dar click"/>
	 </a>
	 <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>
	
	<p class="texto_manual">Para descargar en un archivo excel, damos 
	click en el icono <em>Exportar</em>, que se encuentra en la parte derecha.</p></br>