
	<img src="{{asset('public/images/chart.png')}}" height="50" class="img_titulo"/></br>
    <div class="div_titulo_planificacion" id="reporte_supertel">
      Reporte supertel
    </div></br>
	
    <p class="texto_manual">Un reporte asignado es un documento donde se encuentra...</p>