<!----------Imagen del icono tareas (modulo soporte)--------------->
<!----------------------------------------------------------------->
<img src="{{asset('public/images/clipboard_tareas.png')}}" height="50" class="img_titulo4"> 
<!----------------------------------------------------------------->	
    <div class="div_titulo_soporte">
      Tareas
    </div></br>
	
	<p class="texto_manual">Esta opción muestra un listado de todos las
	tareas registradas en el sistema.</p></br>
	
	<div class="img_center">
      <a class="example-image-link" href="{{asset('./bundles/ayuda/img/tareas.jpg')}}"
	  data-lightbox="example-1">
       <img class="example-image" src="{{asset('./bundles/ayuda/img/tareas.jpg')}}" height="150"/>
	  </a>
	  <p class="zoom">Dar click en la imagen para hacer zoom</p>
    </div></br>