<!---------Imagen del icono notificaciones (modulo soporte)--------->
<!------------------------------------------------------------------>
<img src="{{asset('./bundles/ayuda/img/menu_notificaciones.jpg')}}" height="35" class="img-fx"/>  
<!------------------------------------------------------------------>
    <div class="div_titulo_soporte">
      Notifiacciones
    </div> 