{% extends "::layout_completo.html.twig" %}

{% block contenido_central %}
    <div id="titulo_content">
        <h1>Dashboard</h1>
    </div>
    <div class="clearBoth"></div>
    <div class="dashboard_content">
	<img src="{{ asset('public/images/pagina_construccion.gif')}}" />
    </div>
{% endblock contenido_central %}