* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.margdiv{
    margin: 0 4% 0 20%;
}

/*Background color*/
#grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform input, #msform textarea, #msform select{
    font-size: 12px !important;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 3% 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;

    text-align: left;
    color: #495057;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 20px;
    color: #2C3E50;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    text-align: center;
}

#progressbar .active {
    color: #495057;
    
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
}

/*Icons in the ProgressBar*/
#progressbar #admi:before {
    font-family: FontAwesome;
    content: "\f0ae";
}

#progressbar #program:before {
    font-family: FontAwesome;
    content: "\f133";
}

#progressbar #opcAdic:before {
    font-family: FontAwesome;
    content: "\f093";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #007bff;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px; 
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
.row .perso{
	display: -ms-flexbox;
	display: block ruby;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col .cent{
    -ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
    align-self: end;	
    position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.form-check-input .styleCheck{
	position: absolute;
	margin-top: .1rem;
	margin-left: -1.25rem;
}

.form-check .check{
	position: relative;
	display: block;
	/* padding-left: 1.25rem; */
}

.lbl_black{
	display: inline-block;
	margin-bottom: .5rem;
	color: black !important;
}

.lbl_black_bold{
	display: inline-block;
	color: black !important;
    font-weight: bold;

}

.card .div_card{
	position: relative;
    margin-top: 2rem;
	display: flex;
	z-index: 0;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

#img_view{
    width: 100%;
    height: 100%;
}

.select2-container .select2-selection--single {
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: calc(1.5em + .75rem + 2px);
	user-select: none;
	-webkit-user-select: none;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #444;
	line-height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 30px;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
}

.input-group-text {
	/* display: -ms-flexbox; */
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: 0 .25rem .25rem 0;
}

.x-body {
	color: #495057;
	font-size: 12px;
	font-family: tahoma,arial,verdana,sans-serif;
}

.btn-outline-secondary {
	color: #6c757d;
	border-color: #ced4da;
}

.btnFechas {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* background-color: transparent; */
	border: 1px solid #ced4da;
	padding: .177rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0 .25rem .25rem 0;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	border: 1px solid #FFF  !important;
	background: linear-gradient(to bottom, #FFFFFF 0%, #FFF 100%)  !important;
}