html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
}
html {
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 62.5%;
}
strong, th, thead td, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
cite, em, dfn {
    font-style: italic;
}
code, kbd, samp, pre, tt, var, input[type="text"], textarea {
    font-family: monaco,"Lucida Console",courier,monospace;
    font-size: 92%;
}
del {
    color: #666666;
    text-decoration: line-through;
}
ins, dfn {
    border-bottom: 1px solid #CCCCCC;
}
small, sup, sub {
    font-size: 85%;
}
abbr, acronym {
    font-size: 85%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
a abbr, a acronym {
    border: medium none;
}
abbr[title], acronym[title], dfn[title] {
    border-bottom: 1px solid #CCCCCC;
    cursor: help;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
blockquote {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #666666;
}
blockquote *:first-child:before {
    content: "“";
}
blockquote *:first-child:after {
    content: "”";
}
form {
    margin: 0 0 25px 100px;
}
form input.error {
    background: none repeat scroll 0 0 #F6EEEE;
    border: 1px solid #C50F11 !important;
}
fieldset {
    padding: 0 0 15px;
}
legend {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}
label {
    clear: left;
    display: block;
    float: left;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 5px 0 0;
}
textarea, input.text, select {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 1px solid #BFC8D2;
    color: #424242;
    float: left;
    font-family: Arial,Tahoma,sans-serif;
    font-size: 16px;
    height: 33px;
    margin: 0 0 15px;
    padding: 5px 5px 0;
    width: 212px;
}
select {
    padding: 0.2em 0;
}
textarea {
    margin-bottom: 2em;
}
textarea:hover, input.text:hover, select:hover {
    border-color: #677280;
}
textarea:focus, input.text:focus, select:focus {
    border-color: #FFFFFF;
    outline: 2px solid #467CBA;
}
input, select {
    cursor: pointer;
}
input.text {
    cursor: text;
}
input.button {
}
form li {
    margin: 1em 0;
}
textarea {
    font-family: Tahoma,Arial,Verdana,Helvetica,sans-serif;
    height: 150px;
    width: 550px;
}
form h5 {
    font-size: 1.2em;
    margin: 1em 0;
}
.left, .right {
    width: 47%;
}
.left {
    border-right: 1px dotted #DDDDDD;
    float: left;
    padding-right: 15px;
}
.right {
    float: right;
    padding-left: 15px;
}
.center {
    clear: both;
    padding-top: 0.1em;
}
#wrapper {
    font-size: 1.2em;
    line-height: 1.6em;
}
#wrapper table {
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
#wrapper th, #wrapper td {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #CCCCCC;
}
html > body p.browser-support {
    display: none;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
.clear {
    clear: both;
}

